@font-face {
	font-family: 'Dreamt';
	font-display: swap;
	src: url('../res/Dreamt.eot');
	src: url('../res/Dreamt.eot?#iefix') format('embedded-opentype'),
		 url('../res/Dreamt.woff') format('woff'),
		 url('../res/Dreamt.ttf') format('truetype');
}

* {
	font-family: 'Dreamt';
	font-size: 24px;
	color: #fff;
	line-height: 32px;
}

h1 {
	padding-top: 0.2em;
	padding-bottom: 0;
	margin-bottom: 0em;
	font-size: 2.5em;
	text-align: center;
}

.tc {
	text-align: center;
}

hr { 
	background-color: #aaa; 
	width: 100%; 
	height: 2px; 
	border: 0; 
	opacity: 1;
	margin-top: 0;
	margin-bottom: 1em;
}

.external-link {
	text-align: center;
	display: block;
	font-size: 1.25em;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	min-height: 100%;
}

body {
	background-color: #700000;
	background-image: linear-gradient(to right, #9E0700 0%, #700000 10%, #700000 90%, #9E0700 100%);
}

a {
	color: #fff;
	font-size: inherit;
}
a:hover {
	color: #FF4C3F;
}

p {
	font-size: 1.2em;
}

#content-area {
	height: 100%;
	margin-top: 0;
	padding-top: 1em;
	height: 100%;
}

.content-section {
	margin-top: 3em;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.standalone-container {
	margin-top: 1em;
}

.navbar {
	padding-bottom: 0;
}

.title {
	display: block;
	text-align: center;
	width: 100%;
}

h2 {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 2em;
	text-decoration: underline;
}

.content-project {
	padding-left: 1em;
	padding-right: 1em;
}

.project-title {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0;
	text-decoration: none;
	display: block;
}

.project-image {
	display: block;
}

.project-image-container {
	display: block;
}

li {
	margin-top: 0em;
	font-size: 28px;
}

.pre-list {
	margin-bottom: 0em;
}

footer {
	margin-top: 2em;
	text-align: center;
}

footer > p {
	color: #777;
}