@font-face {
	font-family: 'Dreamt';
	font-display: swap;
	src: url('/res/Dreamt.eot');
	src: url('/res/Dreamt.eot?#iefix') format('embedded-opentype'),
		 url('/res/Dreamt.woff') format('woff'),
		 url('/res/Dreamt.ttf') format('truetype');
}

.effectFadeIn {
	-webkit-animation: fadein 2s forwards;
    -moz-animation: fadein 2s forwards;
    -ms-animation: fadein 2s forwards;
    -o-animation: fadein 2s forwards;
    animation: fadein 2s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.effectAnimDelay1 {
	animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.effectAnimDelay2 {
	animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.effectHideBegin {
	opacity: 0;
}

#verytop {
	margin-bottom: 1rem;
}

.vb {
	padding-bottom: 20px;
}

.tc {
	text-align: center;
}

.dfont {
	font-family: 'Dreamt';
	font-size: 24px;
	color: #fff;
}

.shalf {
	font-size: 12px !important;
}

.squarter {
	font-size: 6px !important;
}

.sdouble {
	font-size: 48px !important;
}

.wline {
	height: 2px;
	width: 100%;
	background-color: #909090;
	margin-bottom: 12px;
}

.fullsize {
	font-size: 1.4em;
	text-align: center;
}

.animd {
	display: inline-block;
	position: absolute;
	-webkit-transition: all 4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.animd-img {
	position: absolute;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	min-height: 100%;
}

body {
	background-color: #000;
	margin: 0 0 1.5em !important;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1.5em;
	width: 100%;
	overflow: hidden;
}

a {
	color: #fff;
}
a:hover {
	color: #f30;
}