---
title: colinator27
description: Find my content here! Five Nights at Fido's, UT: Fourth Human, Project Dreamt, and other projects!
---
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <meta name="google-site-verification" content="iZDQMhhtNJaxOe5-0ZZu6RRJ3Qq67_PizVPN3wY7zoU" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type="text/css">
  <style type="text/css">
  div.pageOverlay {
    opacity:1;
    filter: alpha(opacity=20);
    background-color:#000; 
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
  }
  h1 {
    font-family: 'Slabo 27px', serif;
  }
  p {
    font-family: 'Lora', serif;
    font-size: 115%;
  }
  #custom_font {
    font-family: 'Droid Serif', serif;
    font-size: 150%;
  }
  </style>
  <script type="text/javascript">
    var host = "colinator27.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  <title>
  {% if page.title %}
  {{ page.title }}
  {% else %}
  colinator27
  {% endif %}
  </title>
  {% if page.description %}
    <meta name="description" content="{{ page.description}}" />
  {% endif %}
  <!--link rel="icon" type="image/vnd.microsoft.icon" href="http://colinator27.github.io/favicon.ico">
  <link rel="shortcut icon" href="http://colinator27.github.io/favicon.ico"-->
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://colinator27.github.io/">colinator27</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li-->
        <li><a href="https://colinator27.github.io/about">About</a></li>
        <li><a href="https://colinator27.github.io/music">Music</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://colinator27.github.io/projects/five-nights-at-fidos/">Five Nights at Fido's</a></li>
            <li><a href="https://colinator27.github.io/projects/project-dreamt/">Project Dreamt</a></li>
            <li><a href="https://colinator27.github.io/projects/ludum-dare-games/">Ludum Dare Games</a></li>
            <li><a href="https://colinator27.github.io/projects/scratch-extension-creator/">Scratch Extension Creator</a></li>
            <li><a href="https://colinator27.github.io/projects/massive-nights-at-freddys/">Massive Nights at Freddy's</a></li>
            <li><a href="https://colinator27.github.io/projects/undertale-the-fourth-human/">Undertale: The Fourth Human</a></li>
          </ul>
        </li>
      </ul>
      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-xs-12">
  <center>
    <noscript>You need JavaScript to use the webpage. Some things will not function correctly.</noscript>
    <br>
    <h1>COLINATOR27</h1>
    <br>
    <p>A website with all of my projects and games in one place!</p>
    <a id="custom_font" href="https://colinator27.github.io/about/">Info/Contact</a>
    <br>
    <br>
    <a id="custom_font" href="https://colinator27.github.io/credits/">Credits</a>
    </center>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
