<!DOCTYPE html>
<html>
<head>
  <title>Undertale: The Fourth Human</title>
  <style type="text/css">
    @font-face {
      font-family: determination;
      src: url(DeterminationMonoWeb.woff);
    }
    * {
      font-family: determination;
      color: white;
    }
  </style>
  <script type="text/javascript">
    var host = "colinator27.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
</head>
<body bgcolor="#000000">
  <center><img src="https://colinator27.github.io/projects/undertale-the-fourth-human/view/header-f.png" alt="Header"></center>
  <h3>W.I.P.</h3>
</body>
</html>
