<!DOCTYPE html>
<html>
<head>
  <title>Undertale: The Fourth Human</title>
  <script type="text/javascript">
    var host = "colinator27.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style type="text/css">
    @font-face {
      font-family: determination;
      src: url(DeterminationMonoWeb.woff);
    }
    * {
      font-family: determination;
      color: white;
      background-color: black;
    }
  </style>
</head>
<body bgcolor="#000000">
  <center><img class="img-responsive" src="https://colinator27.github.io/projects/undertale-the-fourth-human/view/header-f.png" alt="Header"></center>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"><font style="text-align:center;" size="22">W.I.P.</font></div>
      </div>
  </div>
</body>
</html>
