<!DOCTYPE html>
<html>
<head>
  <title>Undertale: The Fourth Human</title>
  <script type="text/javascript">
    var host = "colinator27.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style type="text/css">
    @font-face {
      font-family: determination;
      src: url(DeterminationMonoWeb.woff);
    }
    * {
      font-family: determination;
      color: white;
      background-color: black;
      line-height: 1.0;
    }
  </style>
</head>
<body bgcolor="#000000">
  <center><img class="img-responsive" src="https://colinator27.github.io/projects/undertale-the-fourth-human/view/header-f.png" alt="Header"></center>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4"><center><font class="hidden-sm" size="18">In Progress</font><font class="visible-sm" size="18">W.I.P.</font>
        <br><br class="hidden-sm">
        <font size="5">UT: Fourth Human is currently a work in progress game. You can download public debug builds on the GameJolt webpage.</font>
        </center></div>
        <div class="col-sm-4"><center><font size="18">Fan game</font>
        <br><br>
        <font size="5">If you can't tell by the name of the game, it is a fangame of Undertale. It is a prequel to the game. Warning: spoilers ahead!</font>
        </center></div>
        <div class="col-sm-4"><center><font size="18">How?</font>
        <br><br>
        <font size="5">This game is being made only by colinator27. It is made in Clickteam Fusion 2.5, Paint.NET, and FL Studio 12.</font>
        </center></div>
      </div>
  </div>
</body>
</html>
